/*!
Theme Name: 	Compressed Air Default Theme
Theme URI: 		http://julian.is
Description: 	Default theme for Compressed Air.
Version: 		1.0
Author: 		Julian Gaviria (RPM)
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4;
  background: #fff; }

.no-svg body {
  background: #fff; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html, button, input, select, textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before, q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=== Print ===*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }
 }

body {
  background-image: url(img/bg-tile.jpg) !important;
  border-top: 5px solid #0e42ab; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.site-content-primary ul, .site-content-primary ol {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .site-content-primary ul li, .site-content-primary ol li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .site-content-primary ul li p, .site-content-primary ol li p {
      font-size: 1em; }
    .site-content-primary ul li:after, .site-content-primary ol li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: 0.375em 0.375em;
      background-repeat: no-repeat; }
.site-content-primary .no-svg .site-content-primary ul li:after, .site-content-primary .no-svg .site-content-primary ol li:after {
  background-image: url(img/ico-bullet.png); }

.slides {
  padding-left: 0 !important; }
  .slides li:after {
    display: none !important; }

.flex-direction-nav {
  padding-left: 0 !important; }
  .flex-direction-nav li:after {
    display: none !important; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #c7c7c7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ededed;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

fieldset {
  background: white;
  border: 1px solid #ededed;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0;
  border: 1px solid #ededed;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: lightgray; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #0e42ab;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(12, 57, 147, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 300; }

h1 {
  font-size: 2.25em;
  margin-bottom: 0.6666666667em;
  font-weight: normal; }
  @media (min-width: 40em) {
    h1 {
      font-size: 2.75em;
      margin-bottom: 0.5454545455em; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 3.25em;
      margin-bottom: 0.4615384615em;
      margin-top: 0.3076923077em; } }

h2 {
  font-size: 1.6875em;
  margin-bottom: 0.5925925926em;
  margin-top: 0.5925925926em; }
  @media (min-width: 40em) {
    h2 {
      font-size: 2.125em;
      margin-bottom: 0.4705882353em;
      margin-top: 0.4705882353em; } }

h3 {
  font-size: 1.4375em;
  margin-bottom: 0.347826087em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 1em 0;
  font-weight: 200;
  line-height: 1.5em; }

a {
  color: #0e42ab;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #082764; }
  a:active, a:focus {
    color: #082764;
    outline: none; }

.site-content-primary a {
  font-weight: 400; }

hr {
  border-bottom: 1px solid #ededed;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0 auto;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #ededed;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #ededed;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

/*=============== Layout Patterns ===============*/
@media (min-width: 40em) {
  .last {
    margin-right: 0;
    margin-right: 0 !important; } }

@media (min-width: 40em) {
  .col-last {
    margin-right: 0;
    margin-right: 0 !important; } }

.row {
  display: block;
  clear: both; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }

  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }

  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }

  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }

  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }

  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }

  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }

  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }

  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 773.8545396864%; }
    .col-9:last-child {
      margin-right: 0; }

  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }

  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }

  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }

  .col-1of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 8.2947238322%; }
    .col-1of9:last-child {
      margin-right: 0; }

  .col-2of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 19.7578833532%; }
    .col-2of9:last-child {
      margin-right: 0; }

  .col-3of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 31.2210428741%; }
    .col-3of9:last-child {
      margin-right: 0; }

  .col-4of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 42.6842023951%; }
    .col-4of9:last-child {
      margin-right: 0; }

  .col-5of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 54.1473619161%; }
    .col-5of9:last-child {
      margin-right: 0; }

  .col-6of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 65.6105214371%; }
    .col-6of9:last-child {
      margin-right: 0; }

  .col-7of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 77.073680958%; }
    .col-7of9:last-child {
      margin-right: 0; }

  .col-8of9 {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 88.536840479%; }
    .col-8of9:last-child {
      margin-right: 0; }

  .col-1of2 {
    float: left;
    display: block;
    margin-right: 16.0363113405%;
    width: 41.9818443298%; }
    .col-1of2:last-child {
      margin-right: 0; }

  .col-last {
    margin-right: 0;
    margin-right: 0 !important; }
 }

.rows-of-2 {
  display: block; }
  .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

/*
.col-2-3 {
	@include span-columns(3 of 6);
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}
.col-2-last-3 {
	@include span-columns(3 of 6);
	margin-right:0;
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}
.col-2-3-last {
	@include span-columns(3 of 6);
	@include mq(medium) {
		@include span-columns(4 of 12);
		margin-right:0;
	} 
}*/
/*=============== Inner Wrap ===============*/
.page-wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .page-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .page-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.inner-wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

/*=============== Main Nav ===============*/
.menu, .menu > ul ul {
  clear: both;
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

@media (min-width: 40em) {
  transition: 0; }

.js .menu, .js .menu > ul ul {
  overflow: hidden;
  max-height: 0;
  margin: 0; }

.menu.active, .js .menu > ul ul.active {
  max-height: 55em; }

.menu > ul {
  padding: 0;
  margin: 0; }
.menu li a {
  display: block; }
.menu li.has-subnav {
  position: relative; }
  .menu li.has-subnav > a:after {
    content: '+';
    position: absolute;
    top: 1em;
    right: 1em;
    display: block; }
  .menu li.has-subnav > a.active:after {
    content: "-"; }

@media (min-width: 40em) {
  .js .menu, .js .menu > ul ul {
    max-height: none;
    overflow: visible; }

  .js .menu > ul ul {
    display: none; }

  .menu.active, .js .menu > ul ul.active {
    display: block; }

  .js .menu > ul li:hover > ul {
    display: block; }

  .menu li.has-subnav > a:after {
    content: ">"; }
  .menu .level-1 li.has-subnav > a:after {
    content: ""; }
  .menu > ul > li {
    display: block;
    float: left;
    position: relative; }
  .menu > ul ul {
    position: absolute;
    top: 0;
    left: 12em;
    width: 17em; }
    .menu > ul ul li {
      position: relative; }
  .menu > ul ul.sub-menu {
    top: 3.1em;
    left: 0; }
 }

.menu-link {
  width: 2em;
  height: 1.625em;
  float: right;
  margin: 0; }
  .menu-link span {
    display: block;
    height: 1.625em;
    text-indent: -9999em;
    background: url(img/ico-nav.svg) center center no-repeat; }

.no-svg .menu-link span {
  background: url(img/ico-nav.png) center center no-repeat; }

.menu {
  display: block;
  clear: both;
  background-color: #0e42ab;
  background: -webkit-linear-gradient(#114fcc, #0e42ab) left repeat;
  background: linear-gradient(#114fcc, #0e42ab) left repeat; }
  .menu a {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.125em; }
  @media (min-width: 40em) {
    .menu {
      font-size: 0.75em;
      /*.social-wrap {
			width:25%;
			float:left;
		}*/ }
      .menu .menu {
        width: 100%;
        float: left; } }
  @media (min-width: 60em) {
    .menu {
      font-size: 1em; } }

.level-1 > li {
  border-top: 1px solid #2957b4; }
  .level-1 > li a {
    padding: 1em 2em 1em 1em; }
  .level-1 > li:first-child {
    border-top: 0; }
.level-1 li.has-subnav .active {
  background: #0e42ab; }

.sub-menu {
  z-index: 20; }
  .sub-menu li {
    border-top: 1px solid grey; }
    .sub-menu li a {
      font-size: 0.8em;
      background-color: #2957b4;
      text-align: left;
      /*background-image: url(img/ico-arrow.svg);
			background-position:95% 50%;
			background-repeat:no-repeat;
			background-size:0.625em 1.125em;*/ }

@media (min-width: 40em) {

  .level-1 {
    text-align: center; }
    .level-1 > li {
      border-top: 0;
      border-radius: 5px; }
      .level-1 > li a {
        padding: 0;
        height: 2.7777777778em;
        line-height: 2.7777777778em;
        vertical-align: middle; }
        .level-1 > li a:hover {
          background: #2957b4; }
      .level-1 > li:hover {
        background: #2957b4; }

  .sub-menu li {
    border-top: 1px solid #fff; }
    .sub-menu li a {
      font-size: 0.75em;
      padding: 0.8em 1.8em;
      background-color: #0e42ab;
      text-align: left;
      border-radius: 0px;
      line-height: 1.5em;
      height: auto; }
      .sub-menu li a:hover {
        background-color: #2957b4; }
 }

@media (min-width: 60em) {

  .level-1 {
    text-align: center; }
 }

@media (min-width: 40em) {
  .nav-1 {
    width: 7.5473965287%; }

  .nav-2 {
    width: 8.7516688919%; }

  .nav-3 {
    width: 10.8224299065%; }

  .nav-4 {
    width: 9.3591455274%; }

  .nav-5 {
    width: 8.4846461949%; }

  .nav-6 {
    width: 10%; }

  .nav-7 {
    width: 9.2857142857%; }

  .nav-8 {
    width: 7.7489986649%; }

  .nav-9 {
    width: 28%; }

  .nav-0 {
    display: none !important; }
 }

/*
@include mq(medium) {
	.nav-1 {
		width:6.54739652870493%;
	}
	.nav-2 {
		width:8.25166889185581%;
	}
	.nav-3 {
		width:10.322429906542055%;
	}
	.nav-4 {
		width:12.859145527369826%;
	}
	.nav-5 {
		width:7.984646194926569%;
	}
	.nav-6 {
		width:9.285714285714285%;
	}
	.nav-65 {
		width:9%;
	}
	.nav-7 {
		width:7.748998664886514%;
	}
	.nav-8 {
		width:28%;
	}
	.nav-0 {
		display:none !important;
	}
}
*/
/*=============== Logo ===============*/
/*=============== Social Media ===============*/
.social-wrap {
  overflow: hidden;
  background-color: #0e42ab;
  background: -webkit-linear-gradient(#114fcc, #0e42ab) left repeat;
  background: linear-gradient(#114fcc, #0e42ab) left repeat; }
  .social-wrap a {
    display: block;
    float: left;
    width: 16.6666666667%;
    text-align: center;
    height: 3.125em;
    border-left: 1px solid #2957b4;
    position: relative;
    padding: 0 !important; }
    .social-wrap a:hover {
      background-color: #2957b4; }
  .social-wrap img {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }

/*=============== Design Patterns ===============*/
.inner-wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.dark-module {
  color: #fff; }
  .dark-module a {
    color: #fff; }
    .dark-module a:visited {
      color: #fff; }
    .dark-module a:hover {
      color: #fff;
      text-decoration: none; }

.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: 0.15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; }
 }

.red-btn-l {
  background-color: #a3000f;
  background: -webkit-linear-gradient(#cd0013, #a3000f) left repeat;
  background: linear-gradient(#cd0013, #a3000f) left repeat;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.6875em;
  display: inline-block;
  padding: 0.625em 1em; }
  .red-btn-l:hover {
    color: #fff;
    background: -webkit-linear-gradient(#a3000f, #a3000f) left repeat;
    background: linear-gradient(#a3000f, #a3000f) left repeat; }

.red-btn-m {
  background: -webkit-linear-gradient(#cd0013, #a3000f) left repeat;
  background: linear-gradient(#cd0013, #a3000f) left repeat;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.3125em;
  display: inline-block;
  padding: 0.625em 1em; }
  .red-btn-m:hover {
    color: #fff;
    background: -webkit-linear-gradient(#a3000f, #a3000f) left repeat;
    background: linear-gradient(#a3000f, #a3000f) left repeat; }

.red-btn {
  background: -webkit-linear-gradient(#cd0013, #a3000f) left repeat;
  background: linear-gradient(#cd0013, #a3000f) left repeat;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 0.875em;
  display: inline-block;
  padding: 0.25em 1em; }
  .red-btn:hover {
    color: #fff;
    background: -webkit-linear-gradient(#a3000f, #a3000f) left repeat;
    background: linear-gradient(#a3000f, #a3000f) left repeat; }

.blue-btn-m {
  background-color: #0e42ab;
  background: -webkit-linear-gradient(#114fcc, #0e42ab) left repeat;
  background: linear-gradient(#114fcc, #0e42ab) left repeat;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.3125em;
  display: inline-block;
  padding: 0.625em 1em; }
  .blue-btn-m:hover {
    color: #fff;
    background: -webkit-linear-gradient(#0e42ab, #0e42ab) left repeat;
    background: linear-gradient(#0e42ab, #0e42ab) left repeat; }

.blue-btn, .product-cta {
  background-color: #0e42ab;
  background: -webkit-linear-gradient(#114fcc, #0e42ab) left repeat;
  background: linear-gradient(#114fcc, #0e42ab) left repeat;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 0.875em;
  display: inline-block;
  padding: 0.25em 1em; }
  .blue-btn:hover, .product-cta:hover {
    color: #fff;
    background: -webkit-linear-gradient(#0e42ab, #0e42ab) left repeat;
    background: linear-gradient(#0e42ab, #0e42ab) left repeat; }

.cta-banner {
  color: #fff;
  background-color: #0e42ab;
  background: -webkit-linear-gradient(#114fcc, #0e42ab) left repeat;
  background: linear-gradient(#114fcc, #0e42ab) left repeat;
  padding: 1.5em 1em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  @media (min-width: 40em) {
    .cta-banner {
      text-align: left; } }
  .cta-banner .red-btn-l {
    padding-left: 0.5em;
    padding-right: 0.5em; }

.cta-banner-header {
  color: #fff;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0; }

.cta-banner-body {
  margin-bottom: 1.5em;
  margin-top: 0.5em; }
  @media (min-width: 40em) {
    .cta-banner-body {
      margin-bottom: 0; } }

.double-ctas {
  overflow: hidden; }

.cta-first {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 100%;
  margin-bottom: 1em; }
  .cta-first:last-child {
    margin-right: 0; }
  .cta-first a {
    display: block; }
  @media (min-width: 40em) {
    .cta-first {
      margin-bottom: 0;
      float: left;
      display: block;
      margin-right: 3.1684356888%;
      width: 36.9526226346%;
      margin-left: 5.6865361999%; }
      .cta-first:last-child {
        margin-right: 0; } }

.cta-second {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 100%;
  margin-bottom: 1em; }
  .cta-second:last-child {
    margin-right: 0; }
  .cta-second a {
    display: block; }
  @media (min-width: 40em) {
    .cta-second {
      margin-bottom: 0;
      float: left;
      display: block;
      margin-right: 3.1684356888%;
      width: 36.9526226346%;
      margin-left: 5.6865361999%; }
      .cta-second:last-child {
        margin-right: 0; } }

.cta-icon:before, .cta-download:before, .cta-contact:before, .cta-rfq:before, .no-svg .cta-download:before, .no-svg .cta-contact:before, .no-svg .cta-rfq:before {
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 0.375em;
  background-repeat: no-repeat; }

.cta-download:before {
  background-image: url(img/ico-download.svg); }

.cta-contact:before {
  background-image: url(img/ico-contact.svg); }

.cta-rfq:before {
  background-image: url(img/ico-rfq.svg); }

.no-svg .cta-download:before {
  background-image: url(img/ico-download.png); }
.no-svg .cta-contact:before {
  background-image: url(img/ico-contact.png); }
.no-svg .cta-rfq:before {
  background-image: url(img/ico-rfq.png); }

.cta-aside {
  padding-bottom: 1.5em; }
  @media (min-width: 40em) {
    .cta-aside {
      float: right; } }
  @media (min-width: 60em) {
    .cta-aside {
      float: right;
      width: 15.625em;
      padding-left: 1em; } }

.live-url {
  display: none; }
  @media (min-width: 40em) {
    .live-url {
      font-size: 0.75em;
      display: block;
      position: absolute;
      right: 0;
      top: 0.25em;
      padding: 0.15em 0.75em; } }

/*=============== Javascript Related ===============*/
.headexpand {
  position: relative;
  border-bottom: 1px solid #333;
  padding: 0.75em 0;
  margin: 0; }
  .headexpand:after {
    position: absolute;
    right: 0.5em;
    content: "+";
    margin-left: 1em; }
  .headexpand.active:after {
    content: "-"; }
  @media (min-width: 40em) {
    .headexpand {
      border-bottom: 0;
      padding: 0; }
      .headexpand:after {
        display: none; } }

.headexpand-wrap > *:last-child {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.headexpand-wrap > *:last-child.active {
  max-height: 100em; }
@media (min-width: 40em) {
  .headexpand-wrap > *:last-child {
    overflow: visible;
    max-height: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .headexpand-wrap > *:last-child.active {
    max-height: auto; }
 }

/*=============== Site Header ===============*/
.site-header .inner-wrap {
  padding-bottom: 0; }
@media (min-width: 40em) {
  .site-header .search-form {
    font-size: 0.75em;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    margin-right: 0;
    float: right; }
    .site-header .search-form:last-child {
      margin-right: 0; }
 }
@media (min-width: 60em) {
  .site-header .search-form {
    font-size: 1em;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-right: 0;
    float: right; }
    .site-header .search-form:last-child {
      margin-right: 0; }
 }

.site-logo {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 30.1138947236%; }
  .site-logo:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .site-logo {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .site-logo:last-child {
        margin-right: 0; } }

.utility-nav {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding: 0.5em 1em;
  background-color: #0e42ab; }
  @media (min-width: 40em) {
    .utility-nav {
      position: relative;
      background-color: transparent;
      height: auto;
      padding: 0 0;
      padding-left: 1.5em;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 44.5562720511%; }
      .utility-nav:last-child {
        margin-right: 0; } }
  @media (min-width: 60em) {
    .utility-nav {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 53.0860763509%; }
      .utility-nav:last-child {
        margin-right: 0; } }

body {
  padding-top: 1.5em; }
  @media (min-width: 40em) {
    body {
      padding-top: 0; } }

.site-tagline {
  font-size: 1.3125em;
  font-style: italic;
  float: left;
  color: #0e42ab;
  display: none; }
  @media (min-width: 60em) {
    .site-tagline {
      display: block; } }

.site-rfq {
  font-size: 1.2em;
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 47.5854210427%;
  margin-left: 8.5298042998%;
  margin-right: 0;
  margin-bottom: 0.55em;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  .site-rfq:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .site-rfq {
      font-size: 1.4em;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 27.4966634515%;
      margin-left: 0%;
      margin-right: 0; }
      .site-rfq:last-child {
        margin-right: 0; } }
  @media (min-width: 60em) {
    .site-rfq {
      font-size: 1.6875em;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 18.9668591516%;
      margin-right: 0; }
      .site-rfq:last-child {
        margin-right: 0; } }

.site-ph {
  font-weight: 500;
  color: #fff;
  font-size: 1.3125em; }
  .site-ph span {
    color: #ededed;
    font-family: 'Ubuntu Condensed', sans-serif; }
  @media (min-width: 40em) {
    .site-ph {
      float: right;
      text-align: right;
      font-size: 2em;
      color: #0e42ab; }
      .site-ph span {
        display: block;
        font-size: 0.75em;
        color: #6a6a6a; } }

.search-table {
  display: table;
  width: 100%;
  padding: 0; }

.search-row {
  display: table-row;
  width: 100%; }

.search-cell1 {
  display: table-cell;
  padding-right: 0; }

.search-cell2 {
  display: table-cell;
  width: 5em;
  background-color: #0e42ab; }
  .search-cell2:hover {
    background-color: #114fcc; }

.search-text {
  width: 100% !important;
  height: 2.75em;
  border: 1px solid #fff;
  float: left;
  padding-left: 0.5em;
  margin-bottom: 0 !important;
  }

.search-submit {
  width: 100%;
  height: 2.75em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center #0e42ab;
  text-indent: -99999999px; }

.no-svg .search-submit {
  background: url(img/ico-search.png) no-repeat center center; }

@media (min-width: 40em) {
  .search-form {
    margin-bottom: 1em;
    margin-top: 1.5em;
    margin-right: 0 !important; }

  .search-cell1 {
    display: table-cell;
    padding-right: 0.4375em; }

  .search-text {
    width: 90% !important;
    border: 1px solid #fff;
    float: left;
    padding-left: 0.5em; }

  .search-submit {
    width: 10%;
    border: 0;
    float: right;
    background: url(img/ico-search.svg) no-repeat center center #0e42ab;
    background-size: 1.3125em 1.3125em; }
 }

/*=============== Site Intro ===============*/
.site-intro .inner-wrap {
  background-color: #fff !important;
  padding-bottom: 0;
  padding-top: 1em; }
@media (min-width: 40em) {
  .site-intro .inner-wrap {
    background-color: grey;
    padding: 2.5em 1.5em; }
 }
@media (min-width: 60em) {
  .site-intro .inner-wrap {
    background-color: grey;
    padding: 4em 2em; }
 }

.site-intro-h1 {
  margin-bottom: 0; }
  @media (min-width: 40em) {
    .site-intro-h1 {
      color: #fff;
      text-shadow: 1px 1px 0 #000000;
      margin-bottom: 0.15em; } }

.site-intro-text {
  display: none;
  text-shadow: 1px 1px 0 #000000; }
  @media (min-width: 40em) {
    .site-intro-text {
      display: block;
      color: #fff;
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.35);
      padding: 1em;
      max-width: 41.5em; } }

/*=============== Site Content ===============*/
.site-content {
  background-color: #fff;
  position: relative; }
  .site-content .inner-wrap {
    padding-top: 1em;
    position: relative;
    display: block; }
    .site-content .inner-wrap:after {
      content: "";
      display: table;
      clear: both; }
  @media (min-width: 40em) {
    .site-content {
      padding-top: 0; } }
  @media (min-width: 60em) {
    .site-content .inner-wrap {
      padding-left: 0; }
      .site-content .inner-wrap .fauxcolumn {
        width: 23%;
        background-color: #ededed;
        position: absolute;
        top: 0;
        bottom: 0; }
 }

.site-content-primary {
  background-color: #fff;
  position: relative;
  margin-bottom: 1em; }
  @media (min-width: 60em) {
    .site-content-primary {
      float: right;
      display: block;
      margin-left: 2.3576515979%;
      width: 74.4105871005%;
      margin-bottom: 0; }
      .site-content-primary:last-child {
        margin-left: 0; } }

.site-content-secondary {
  margin-bottom: 1.5em;
  position: relative;
  z-index: 10; }
  .site-content-secondary .site-search {
    display: none; }
  @media (min-width: 60em) {
    .site-content-secondary {
      background-color: #ededed;
      float: right;
      display: block;
      margin-left: 2.3576515979%;
      width: 23.2317613015%;
      padding: 0 1em 1em 1.5em;
      margin-left: 0; }
      .site-content-secondary .site-search {
        display: block; }
      .site-content-secondary:last-child {
        margin-left: 0; } }
  .site-content-secondary .aside-cta {
    display: block;
    font-size: 1.3125em;
    padding: 0.625em 0.5em; }

.featured-img {
  display: block;
  margin-bottom: 1em; }
  .featured-img img {
    margin: 0 auto; }
  @media (min-width: 40em) {
    .featured-img {
      float: right;
      padding-left: 1.5em;
      padding-bottom: 1.5em;
      margin-bottom: 0; } }

/*=============== Product Carousel ===============*/
.product-carousel {
  display: block;
  position: relative;
  margin-bottom: 1.5em !important; }
  .product-carousel:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 40em) {
    .product-carousel {
      margin-top: 1em !important; } }

.product-item {
  border: 1px solid #ededed;
  display: block;
  overflow: hidden; }
  @media (min-width: 40em) {
    .product-item {
      padding: 0.5em 0.5em;
      float: left;
      display: block;
      margin-right: 3.1684356888%;
      width: 22.6236732334%;
      text-align: center; }
      .product-item:last-child {
        margin-right: 0; } }

.product-header {
  font-size: 1.3125em;
  padding: 0.75em 0 0.5em 0;
  width: 70%;
  float: right; }
  @media (min-width: 40em) {
    .product-header {
      font-size: 1em;
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 1em;
      height: 2em; } }

.product-img {
  display: block;
  margin: 0 auto;
  width: 25%;
  float: left; }
  @media (min-width: 40em) {
    .product-img {
      width: 100%;
      float: none;
      margin-bottom: 1em; } }

.product-cta {
  display: none; }
  @media (min-width: 40em) {
    .product-cta {
      display: inline-block; } }

/*=============== Aside Nav ===============*/
.aside-nav {
  margin-bottom: 1em; }

.aside-nav-ul a {
  font-size: 0.875em;
  color: #333; }
  .aside-nav-ul a:visited {
    color: #333; }
  .aside-nav-ul a:hover {
    color: #0e42ab; }
@media (min-width: 40em) {
  .aside-nav-ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3; } }
@media (min-width: 60em) {
  .aside-nav-ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    margin-bottom: 1em; } }

.aside-header {
  display: block;
  background-color: lightgray;
  margin-left: -1em;
  margin-right: -1em; }
  .aside-header h3 {
    font-size: 1.3125em;
    padding: 0.25em 1em; }
  @media (min-width: 40em) {
    .aside-header {
      margin-left: -1.5em;
      margin-right: -1.125em; } }

/*=============== Site Footer ===============*/
.site-footer .large-footer {
  background-color: #0e42ab;
  background: -webkit-linear-gradient(#114fcc, #0e42ab) left repeat;
  background: linear-gradient(#114fcc, #0e42ab) left repeat;
  padding-top: 1.5em;
  padding-bottom: 1em; }
.site-footer p {
  font-size: 0.875em; }

.smaller-footer {
  padding: 1em 0;
  text-align: center; }

@media (min-width: 40em) {
  .footer-copy {
    float: left;
    text-align: left; }

  .footer-site {
    float: right;
    text-align: right; }
 }

/*=============== Product Intro ===============*/
.product-intro-img {
  text-align: center;
  padding-bottom: 1.5em; }
  @media (min-width: 60em) {
    .product-intro-img {
      float: right;
      width: 15.625em;
      padding-left: 1em; } }

.product-intro-img-additional {
  display: inline-block;
  margin-top: 0.25em; }
  .product-intro-img-additional img {
    width: 5em;
    height: auto; }

.product-intro-info > * {
  margin-top: 0; }

.product-intro-cta {
  margin-top: 1em;
  margin-bottom: 1em; }

/*
.product-intro-additional {
	font-size:.75em;
	ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	li {
		margin:0 0 .75em 0;
		padding:0;
	}
@include mq(medium) {
		//@include span-columns(2 of 9);
		font-size:.75em;
	}
	> * {
		margin-top:0;
	}

}
*/
/*=============== Google Search ===============*/
.google-search {
  display: none;
  /*overflow: hidden;*/
  margin-bottom: 1em;
  margin-top: 1.5em; }
  .google-search .gsc-search-box {
    padding: 0 !important;
    margin: 0 !important; }
    .google-search .gsc-search-box * {
      padding: 0 !important;
      margin: 0 !important;
      background-color: transparent;
      height: auto; }
    .google-search .gsc-search-box .gsc-input-box {
      height: auto !important;
      margin-right: 1em !important; }
    .google-search .gsc-search-box .gsc-search-button {
      width: 5.5em; }
      .google-search .gsc-search-box .gsc-search-button input.gsc-search-button {
        border: 0 !important;
        width: 100%;
        height: 44px !important;
        background-color: #0e42ab;
        background: url(img/ico-search.svg) no-repeat center center #0e42ab;
        text-indent: -9999em; }
        .google-search .gsc-search-box .gsc-search-button input.gsc-search-button:hover {
          background: url(img/ico-search.svg) no-repeat center center #1254da; }
    .google-search .gsc-search-box .gsc-clear-button {
      display: none !important; }
    .google-search .gsc-search-box input.gsc-input {
      height: 44px !important;
      padding: 0 !important;
      background: #fff !important; }
  .google-search .gsc-control-cse, .google-search .gsc-control-cse-en {
    padding: 0;
    border: 0 !important;
    background-color: transparent !important; }
  @media (min-width: 40em) {
    .google-search {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%;
      margin-right: 0;
      float: right; }
      .google-search:last-child {
        margin-right: 0; } }
  @media (min-width: 60em) {
    .google-search {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      margin-right: 0;
      float: right; }
      .google-search:last-child {
        margin-right: 0; } }

.gcsc-branding {
  display: none !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }

  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }

  .aligncenter {
    display: block;
    margin: 0 auto; }
 }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.desktop {
  display: none; }
  @media screen and (min-width: 60em) {
    .desktop {
      display: block; } }

.desktop-text {
  display: none; }
  @media screen and (min-width: 60em) {
    .desktop-text {
      display: inline; } }

@media screen and (min-width: 40em) {
  .mobile {
    display: none; } }

.tablet {
  display: none; }
  @media screen and (min-width: 40em) {
    .tablet {
      display: block; } }

.tablet-text {
  display: none; }
  @media screen and (min-width: 40em) {
    .tablet-text {
      display: inline; } }

.bottom-baseline {
  margin-bottom: 1em; }

.top-baseline {
  margin-top: 1em; }

.nomargin-bottom {
  margin-bottom: 0; }

.nomargin-top {
  margin-top: 0; }

.nopadding-bottom {
  padding-bottom: 0; }

.nopadding-top {
  padding-top: 0; }

@media (min-width: 40em) {
  .br-medium-up {
    display: block; } }

@media (min-width: 40em) {
  .br-small-only {
    display: inline; } }

/*=== Vendors ===*/
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 40px;
  margin: -10px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.flex-direction-nav .flex-prev {
  font-size: 0.5em;
  left: -33px;
  display: block;
  text-indent: -999em;
  display: block;
  height: 4.0625em;
  width: 4.0625em;
  border-radius: 100%;
  background-image: url(img/ico-arrowleft.svg);
  background-position: center center;
  /*background-color:$blue; background-size:em(20) em(36);*/
  background-repeat: no-repeat;
  border-bottom: 0; }

.flex-direction-nav .flex-next {
  font-size: 0.5em;
  right: -33px;
  text-indent: -999em;
  display: block;
  height: 4.0625em;
  width: 4.0625em;
  border-radius: 100%;
  background-image: url(img/ico-arrowright.svg);
  background-position: center center;
  /*background-color:$blue; background-size:em(20) em(36);*/
  background-repeat: no-repeat;
  border-bottom: 0; }

.no-svg .flex-direction-nav .flex-prev {
  background-image: url(img/ico-arrowleft.png); }
.no-svg .flex-direction-nav .flex-next {
  background-image: url(img/ico-arrowright.png); }

.flexslider:hover .flex-prev {
  opacity: 1; }

.flexslider:hover .flex-next {
  opacity: 1; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    /*left: 10px;*/ }

  .flex-direction-nav .flex-next {
    opacity: 1;
    /*right: 10px;*/ }
 }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v0.1.2 - 2014-05-14
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0.7em; }

.tablesaw thead tr:first-child th {
  padding-top: 0.9em;
  padding-bottom: 0.7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }

  .tablesaw-stack tr {
    clear: both;
    display: table-row; }

  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 0.6em 0 0;
    min-width: 40%;
    display: inline-block; }

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: 0.4em 0;
    margin: 0.4em 0; }

  .tablesaw-cell-label {
    display: block; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; }
 }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }

  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }
 }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }

  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }

  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; }
 }
